#progress {
  position: relative;
  height: 3px;
  width: 0%;
  background-color: rgba(82,168,236,0.8);
  top: 0px;
  left: 0px;
}
#progressContainer {
  position: relative;
  top: 4px;
  left: 2px;
  width: 216px;
  height: 3px;
}
#time {
  margin-left: 1em;
  color: #666;
}
#iterations {
  width: 5.5em;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
